<div class="container">
  <h2>Edit Account</h2>
    <div class="row">
      <% @user.errors.full_messages.each do |message| %>
        <div class="text-warning">
          <%= message %>
        </div>
      <% end %>
      <%= form_tag("/users/#{@user.id}/update") do %>
        <form>
          <div class="mb-3">
            <label class="form-label">User name</label>
            <input class="form-control" name="name" value="<%= @user.name %>">
          </div>
          <div class="mb-3">
            <label class="form-label">Email address</label>
            <input class="form-control" name="email" value="<%= @user.email %>">
            <div class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <input type="submit" class="btn btn-primary" value="Save">
        </form>
      <% end %>
    </div>
</div>