<h1>Users#edit</h1>
<br>
<%= form_tag "/users/#{@user.id}/update" do %>
  <form>
    <% @user.errors.full_messages.each do |message| %>
      <div class="mb-1 text-danger">
        <%= message %>
      </div>
    <% end %>
    <div class="mb-3">
      <label class="form-label">ユーザー名</label>
      <input class="form-control" name="name" value="<%= @user.name %>">
    </div>
    <div class="mb-3">
      <label class="form-label">メールアドレス</label>
      <input class="form-control" name="email" value="<%= @user.email %>">
    </div>
    <button type="submit" class="btn btn-outline-success">保存</button>
  </form>
<% end %>
