<h1>お気に入りリスト</h1>
<p>Find me in app/views/users/favorites.html.erb</p>
<div class="row mt-3">
  <div class="col-2">
    <%= link_to "戻る", "/records/index", class: "btn btn-primary" %>
  </div>
</div>
<div class="d-grid gap-3 mt-3">
  <% @favorites.each do |favorite| %>
    <% record = Record.find_by(id: favorite.record_id) %>
    <div class="p-2 bg-light border">
      <%= link_to record.title, "/records/#{record.id}", {class: "text-decoration-none"} %>
    </div>
  <% end %>
</div> 
