<%# 製作中%>
<%= begin %>
<h1>ユーザー</h1>
<br>
<div class="d-grid gap-3 mt-3">
  <% @users.each do |user| %>
    <div class="p-2 bg-light border">
      <%= link_to user.name, "/users/#{user.id}", {class: "text-decoration-none"} %>
    </div>
  <% end %>
</div> 
<% end %>
