<div class="container">
  <h2>Users</h2>
    <div class="row">
      <% @users.each do |user| %>
        <div class="border">
          <%= image_tag "/user_images/#{user.image_name}", class: "col", size: '80x80' %>
          <%= link_to user.name, "/users/#{user.id}", class: "col", :style => "font-size: 1.5rem;" %>
        </div>
      <% end %>
    </div>
</div>