<h1>BookRegisterとは</h1>
<br>
<p>本を読んだほうが良いとは思っているのだけれど、なかなか始められない・続かないあなた！</p>
<p><strong>もしかしたらそれだけでいずれ大きな損になってしまうかも...？</strong></p>
<p>そんないわゆる、「読書初心者」の方のために作ったのがこのサービスです！</p>
<p>とりあえず本の前書きだけでも読んで満足したら、タイトルと感想を登録してみましょう！</p>
<p>感想文の入力も、敢えて<strong>20文字に制限しました！</strong>そのくらい気軽で良いんです！</p>
<br>
<h2>利用価格: <strong> 無料！</strong></h2>
<br>
<p>ただし料金プランは変更があるかもしれません。</p>
<br>
<h3>利用方法</h3>
<br>
<p>1. ユーザー登録をしてください！</p>
<p>2. ログインできたらとりま本（とりまえずまあ、読んだぞ本）を登録しましょう！</p>
<p>3. 印象に残る本だったらお気に入り登録（♡マーク）もしてみましょう！</p>
<p>4. とりま本一覧を眺めて、自己満足しましょう！</p>
<p>5. 慣れてきたら、他のサービスなどを使って長い感想文を書いてみたり、情報発信するのも良いかも！</p>
