<header>
  <div class="header-logo">
    <a href="/">BookRegister</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">BookRegisterとは</a>
    </li>
  </ul>
</header>

<div class="about-main">
  <h2>BookRegisterとは</h2>
  <p>
    読書支援サービスです。
    読書が苦手な人でも、本を読んだ達成感を感じることができます。
  </p>
</div>