<header>
  <div class="header-logo">
    <a href="/">BookRegister</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">BookRegisterとは</a>
    </li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>最後まで読み切る必要なんてない</h2>
    <p>とりあえず本を開いてみよう！</p>
  </div>
</div>