<div class="d-flex align-items-center justify-content-center mb-5" style="height: 30%;">
  <h1>BookRegister</h1>
</div>
<%= link_to "始める", "/login", {class: "btn btn-outline-dark d-grid gap-2 col-2 mx-auto"} %>

