<h1>編集する</h1>
<br>
<%= form_tag "/records/#{@record.id}/update" do %>
  <form>
    <% @record.errors.full_messages.each do |message| %>
      <div class="mb-1 text-danger">
        <%= message %>
      </div>
    <% end %>
    <div class="mb-3">
      <label class="form-label">タイトル</label>
      <input class="form-control" name="title" value="<%= @record.title %>">
    </div>
    <div class="mb-3">
      <label class="form-label">感想（20文字以内！）</label>
      <textarea class="form-control" name="thoughts" cols="30" rows="5"><%= @record.thoughts %></textarea>
    </div>
    <button type="submit" class="btn btn-success">保存</button>
  </form>
<% end %>