<h1>とりま本の新規登録</h1>
<br>
<%= form_tag "/records/create" do %>
  <form>
    <% @record.errors.full_messages.each do |message| %>
      <div class="mb-1 text-danger">
        <%= message %>
      </div>
    <% end %>
    <div class="mb-3">
      <label class="form-label">タイトル</label>
      <input class="form-control" name="title">
    </div>
    <div class="mb-3">
      <label class="form-label">感想（20文字以内！）</label>
      <textarea class="form-control" name="thoughts" cols="30" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-success">登録する</button>
  </form>
<% end %>
