<h1>とりま本の新規登録</h1>
<p>Find me in app/views/records/new.html.erb</p>

<%= form_tag "/records/create" do %>
  <form>
    <div class="mb-3">
      <label class="form-label">タイトル</label>
      <input class="form-control" name="title">
    </div>
    <div class="mb-3">
      <label class="form-label">感想（20文字以内！）</label>
      <textarea class="form-control" name="thoughts" cols="30" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">登録する</button>
  </form>
<% end %>
