<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">タイトル</th>
      <th scope="col">作成日</th>
      <th scope="col">更新日</th>
    </tr>
  </thead>
  
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <th scope="row"><%= post.id %></th>
        <td><%= link_to(post.content, "/posts/#{post.id}") %></td>
        <td><%= post.created_at %></td>
        <td><%= post.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>