<div class="container">
  <h1>投稿一覧</h1>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="border">
        <div class="col-md-4">
          Title: <%= link_to(post.title, "/posts/#{post.id}") %>
        </div>
        <div class="col-md-4">
          作成日時: <%= post.created_at.to_fs(:datetime_jp) %>
        </div>
        <div class="col-md-4">
          更新日時: <%= post.updated_at.to_fs(:datetime_jp) %>
        </div>
      </div>
    <% end %>
  </div>
</div>