<form>
  <div class="mb-3">
    <label class="form-label">タイトル</label>
    <input class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">感想</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>