<!DOCTYPE html>
<html>
  <head>
    <title>BookRegister</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <style>
  body {
    width: 100%;
    height: 100vh;
    background-color: #363237;
  }
  </style>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">BookRegister</a>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts/index">投稿一覧</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts/new">新規投稿</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
